.square {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.board {
    display: table;
    clear: both;
}