.box  {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: white;
    text-align: center;
    line-height: 100px;
}

.box1 {
    background-color: green;
}

.box2 {
    background-color: purple;
    position: absolute;
    top: 200px;
    left: 100px;
}

.box3 {
    background-color: blue;
}   

/*
    z-index: Is to set the order of the elements in the stack.
    The higher the z-index, the higher the element will be in the stack.
*/  
