* {
    background-color: purple;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    grid-column: 1 / 4;
}

.menu {
    grid-row: 2 / 4;
}

.footer {
    grid-column: 2 / 4;
}

.box {
    padding: 20px;
    margin: 1px;
    border: 1px solid white;
    background-color: green;
}